/* Projects.css */

.scene-container {
  width: 150px; /* Genişlik 150px */
  height: 250px; /* Yükseklik 450px */
  border: 2px solid #d3d3d3; /* Açık gri kenarlık */
  position: relative;
  overflow: hidden;
  border-radius: 8px; /* Yuvarlatılmış köşeler */
  backdrop-filter: blur(5px); /* Arka plan bulanıklığı */
  background: rgba(255, 255, 255, 0.1); /* Hafif şeffaf arka plan */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1); /* Gölgeleme */
  cursor: pointer;
}

.scene-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
