@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  perspective: 1000px;
}

.perspective {
  transform-style: preserve-3d;
}

.perspective.active {
  border-radius: 30px;
  transform: rotateY(30deg) scale(0.6) translateX(5%);
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.7), 0 0 50px rgb(211, 1, 1);
}
