:root {
  --primary-color: #8b0000;
  --secondary-color: #fff;
  --font-size: 12rem;
  --text-box-width: 650px;
}

.infoslider {
  --gap: 20px;
  gap: var(--gap);
  width: var(--text-box-width);
  font-size: calc(var(--font-size) / 11);
}

.infoslider ul {
  gap: var(--gap);

  animation: scroll 30s linear infinite;
}

.infoslider:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@media (max-width: 768px) {
  :root {
    --font-size: 5rem;
    --text-box-width: 287px;
  }
}
